@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&display=swap');

body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
  min-height: 1024px;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  margin-top: 20px;
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
}

.logo-login {
  margin-top: 215px;
  width: 325px;
  height: 329.369px;
  justify-content: center;
  align-items: center;
}

.input-field-login {
  width: 305px;
  height: 47px;
  border-radius: 16.136px;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 10px;
  margin-top: 10px;
  background: #D889CC93;
}

.input-field-login::placeholder {
  color: white; 
}

.btn-continue {
  width: 305px;
  height: 50px;
  border-radius: 16.136px;
  border: 1px solid #E6E6E6;
  background: #E02181;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  margin-top: 45px;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn-and-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-login {
  max-width: 70%;
  margin-top: 60px;
  justify-content: center;
}

.p-error {
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
}