@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.navbar-user {
    padding: 10px 0 0 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-image-logout {
    width: 61px;
    height: 56px;
}

.navbar-logout {
    color: #FFF;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-image-logo {
    width: 142px;
    height: 143.909px;
    margin-left: 10px;
}

/* Estilo para el botón cuando está activo */

.nav-button {
    border-radius: 16.136px;
    border: 3px solid #FF6584;
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0 2rem;
    width: 145px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.h1Users {
    color: #E6E6E6;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    margin-top: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.div-formulario-users {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-users {
    width: 181px;
    height: 47px;
    border-radius: 16.136px;
    border: 3px solid #AD59A1;
    background: #FFF;
    color: rgba(30, 30, 30, 0.67);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
    padding-left: 10px;

}

.div-pass-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-management {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-add-user {
    width: 145px;
    height: 47px;
    border-radius: 16.136px;
    border: 1px solid #E6E6E6;
    background: #E02181;
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 25px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.h2-users {
    color: #E6E6E6;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h1UsersModal { 
    color: #E6E6E6;
    text-align: center;
    font-family: Quicksand;
    font-size: 35px;
    margin: 0px 0px 30px 0px;
}

.users-table {
    font-family: Quicksand;
    width: 650px;
    border: hidden;
    margin: 0 auto;
    font-weight: 800;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 35px;
}

.users-table thead tr {
    font-family: Quicksand;
    font-size: 20px;
    background-color: #CB1E75;
    color: white;
    height: 50px;
}

.even-row {
    background: #C4A5C0;
    height: 40px;
}

.odd-row {
    background: #F7D0F1;
    height: 40px;
}

.users-actions {
    display: flex;
    justify-content: space-evenly;
}

.delete-btn {
    background-color: transparent;
    background-image: url('./images/delete.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 25px;
    width: 25px;
    border: none;
}

.edit-btn {
    background-color: transparent;
    background-image: url('./images/edit.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 25px;
    width: 25px;
    border: none;
}

/*Modal*/

.close-modal-button {
    position: relative;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    outline: none;
    margin-left: 375px;
}

.custom-modal-edituser {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
    border: 2px solid #333;
    border-radius: 5px;
    max-width: 400px;
    margin: 15% auto;
    border-radius: 20px;
    padding: 20px;
}

.custom-modal-adduser {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
    border: 2px solid #333;
    border-radius: 5px;
    max-width: 400px;
    margin: 15% auto;
    border-radius: 20px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
}

.input-field {
    flex: 2;
    width: 200px;
    height: 27px;
    border-radius: 11.135999999999996px;
    border: 2px solid #AD59A1;
    background: #FFF;
    font-size: 1rem;
    font-family: Quicksand;
    font-weight: 700;
    margin: 0 20px;
    outline: none;

}

.label-style {
    flex: 1;
    margin-right: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: Quicksand;
    margin-left: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;

}

/* Estilo base para el checkbox */
input[type="checkbox"] {
    width: 177px;
    height: 20px;
    cursor: pointer;
}


input[type="checkbox"]:checked {
    background-color: #E02181;
    border: 1px solid #E02181;
}

.btn-saveChanges {
    height: 47px;
    width: 100px;
    border-radius: 16.136px;
    border: 1px solid #E6E6E6;
    background: #E02181;
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 25px 0px 10px 150px;
}

.btn-closeModal {
    height: 47px;
    border-radius: 16.136px;
    border: 1px solid #E6E6E6;
    background: #E02181;
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}


/*Termina Modal*/

.btn-routes {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

/*Swal Fire*/
.swal-title {
    font-family: Quicksand;
    font-size: 30px ;
}
/* Fin Swal Fire*/