@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

/* body {
  max-height: 1024px;
  max-width: 768px;
} */

.navbar {
  padding: 10px 0 0 0;
}

.navProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarImageLogout {
  width: 61px;
  height: 56px;
}

.navbarLogout {
  color: #FFF;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  font-weight: bold;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navbarImageLogo {
  width: 142px;
  height: 143.909px;
  margin-left: 10px;
}

.navCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

/* Estilo para el botón cuando está activo */

.navButton {
  border-radius: 16.136px;
  border: 1px solid #FFFFFF;
  background: rgba(173, 89, 161, 0.00);
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  width: 190px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.activeButton {
  background-color: #5F2857;
  color: #fff;
}

.h1Products {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.h1ProductsModal {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 35px;
  margin: 0px 0px 40px 0px;
}

.divFormularioProducts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputProducts {
  width: 181px;
  height: 47px;
  border-radius: 16.136px;
  border: 3px solid #AD59A1;
  background: #FFF;
  color: rgba(30, 30, 30, 0.67);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
  padding-left: 10px;
}

.divTypeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productManagement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btnAddProduct {
  width: 145px;
  height: 47px;
  border-radius: 16.136px;
  border: 1px solid #E6E6E6;
  background: #E02181;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.h2Products {
  color: #E6E6E6;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productsTable {
  font-family: Quicksand;
  width: 650px;
  border: hidden;
  margin: 0 auto;
  font-weight: 800;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 35px;
}

.productsTable thead tr {
  font-family: Quicksand;
  font-size: 20px;
  background-color: #CB1E75;
  color: white;
  height: 50px;
}

.evenRow {
  background: #C4A5C0;
  height: 40px;
}

.oddRow {
  background: #F7D0F1;
  height: 40px;
}

.productsActions {
  display: flex;
  justify-content: space-evenly;
}

.deleteBtn {
  background-color: transparent;
  background-image: url('./images/delete.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 25px;
  border: none;
}

.editBtn {
  background-color: transparent;
  background-image: url('./images/edit.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 25px;
  border: none;
}

.detailsBtn {
  background-color: transparent;
  background-image: url('./images/details.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 25px;
  border: none;
}

/*Modal*/
.closeModalButton {
  position: relative;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  outline: none;
  margin-left: 375px;
}

.customModalEditProduct {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
  border: 2px solid #333;
  border-radius: 5px;
  max-width: 400px;
  margin: 15% auto;
  border-radius: 20px;
  padding: 20px;
}

.customModalAddProduct {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
  border: 2px solid #333;
  border-radius: 5px;
  max-width: 400px;
  margin: 15% auto;
  border-radius: 20px;
  padding: 20px;
}

.customModalDetailsProduct {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 3, 30, 0.92) 25%, rgba(95, 40, 87, 0.92) 48.44%, rgba(34, 3, 30, 0.92) 70.31%, rgba(0, 0, 0, 0.92) 100%);
  border: 2px solid #333;
  border-radius: 5px;
  max-width: 400px;
  margin: 15% auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetails {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  font-family: Quicksand;
  margin-left: 20px;
}

.productImage {
  width: 142px;
  height: 143px;
  margin-bottom: 25px;
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
}

.inputField {
  flex: 2;
  width: 200px;
  height: 27px;
  border-radius: 11.135999999999996px;
  border: 2px solid #AD59A1;
  background: #FFF;
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: 700;
  margin: 0 20px 0 0;
  outline: none;
}

.customFileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customFileUploadAdd {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  font-size: 14px;
  font-family: Quicksand;
  font-weight: 700;
  text-align: center;
  color: #FFF;
  background: #AD59A1;
  border: 2px solid #AD59A1;
  border-radius: 11.135999999999996px;
  margin: 0 23px 0 0;
  width: 204px;
  height: 9px;
  align-items: center;
  justify-content: center;
}

.customFileUploadEdit {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  font-size: 14px;
  font-family: Quicksand;
  font-weight: 700;
  text-align: center;
  color: #FFF;
  background: #AD59A1;
  border: 2px solid #AD59A1;
  border-radius: 11.135999999999996px;
  margin: 0 2px 0 0;
  width: 204px;
  height: 9px;
  align-items: center;
  justify-content: center;
}

.customFileUploadAdd:hover {
  background: #FFF;
  color: #AD59A1;
}

.customFileUploadEdit:hover {
  background: #FFF;
  color: #AD59A1;
}

.imgName {
  font-size: 11px;
  color: #FFF;
  font-family: Quicksand;
  font-weight: bold;
  margin: 15px 25px 0px 0px;
}

.formGroup span {
  margin-right: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  font-family: Quicksand;
  margin-left: 20px;
}

.formGroup .fileName {
  flex: 1;
  margin-right: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  font-family: Quicksand;
  margin-left: 20px;
}

.labelStyle {
  flex: 1;
  margin-right: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  font-family: Quicksand;
  margin: 0 0 0 20px;
}

.btnSaveChanges {
  height: 47px;
  width: 100px;
  border-radius: 16.136px;
  border: 1px solid #E6E6E6;
  background: #E02181;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 25px 0px 10px 150px;
}

.btnCloseModal {
  height: 47px;
  border-radius: 16.136px;
  border: 1px solid #E6E6E6;
  background: #E02181;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

/*Termina Modal*/

.btnRoutes {
  display: flex;
  margin-top: 30px;
  justify-content: right;
}

/*Swal Fire*/
.swalTitle {
  font-family: Quicksand;
  font-size: 30px ;
}

.swalContent{
  font-family: Quicksand;
  font-size: 15px;
}
/* Fin Swal Fire*/