@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.orderList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.order-title {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.orderListTitle {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin-top: 70px;
  font-weight: 600;
  margin-top: 5px;
}

.orderCardsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.updateIcon {
  width: 50px;
  margin: -85px 70px 20px 0px;
  align-self: flex-end;
}

.loadingText {
  color: #FFF;
  font-family: Quicksand;
  padding-left: 80px;
  font-size: 22px;
  font-weight: 700;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10% auto; 
  animation: spin 8s linear infinite;
}

.interfaceCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-take-order,
.btn-order-list {
  border-radius: 16.136px;
  border: 1px solid #FFFFFF;
  background: rgba(173, 89, 161, 0.00);
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  width: 190px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.btn-take-order.active,
.btn-order-list.active {
  background-color: #5F2857;
  color: #fff;
}

.navbarLogoOrder {
  display: flex;
  align-items: center;
  margin-left: 410px;
}

.noOrdersText {
  font-family: Quicksand;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  padding: 20px;
}