@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.orderCard {
  overflow-y: auto;
  margin-top: 25px;
  background-color: rgba(217, 217, 217, 0.31);
  width: 290px;
  height: 220px;
  max-height: 400px;
  border-radius: 16px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  transition: box-shadow 0.3s ease;
}

.orderCard:hover {
  box-shadow: 0px 8px 16px rgb(235, 21, 137);
}

.orderSection {
  align-items: center;
  overflow-y: auto;
  max-height: 400px;
}

.productName,
.productqty {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-top: 4px;
  margin-bottom: 2px;
}

h3 {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.h4Mesa {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 1px;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
}

.checkIcon {
  width: 50px;
}

.orderStatusMessage {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: auto;

}