.inputCustomerName {
  width: 260px;
  height: 47px;
  border-radius: 16.136px;
  border: 3px solid #AD59A1;
  background: #FFF;
  margin-right: 20px;
  padding-left: 10px;
  color: black;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inputTableNumber {
  width: 150px;
  height: 47px;
  border-radius: 16.136px;
  border: 3px solid #AD59A1;
  background: #FFF;
  margin-right: 20px;
  padding-left: 10px;
  color: black;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.btnInit{
  width: 80px;
  height: 50px;
  border-radius: 16.136px;
  border: 3px solid #E6E6E6;
  background: #E02181;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}