@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.order-title {
  color: #E6E6E6;
  text-align: center;
  font-family: Kavoon;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productandorder{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
}


