@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.navbar {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.navbarImageLogo {
  width: 142px;
  height: 143.909px;
  margin-left: 10px;
}

.navbarLogout {
  color: #FFF;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}

.productAndOrder{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
}

.orderList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interfaceCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnTakeOrder,
.btnOrderList {
  border-radius: 16.136px;
  border: 1px solid #FFFFFF;
  background: rgba(173, 89, 161, 0.00);
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  width: 190px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.activeButton {
  background-color: #5F2857;
  color: #fff;
}
