@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Questrial&family=Quicksand&family=Rammetto+One&display=swap');

.order {
  max-height: 400px; 
  overflow-y: auto; 
  margin-top: 51px;
  background-color: rgba(217, 217, 217, 0.31);
  width: 290px;
  height: auto;
  border-radius: 16px;
  border: 1px solid #fff;
  padding-right: 15px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #AD59A1;
}

.order::-webkit-scrollbar {
  width: 0px;
  overflow: auto;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #AD59A1;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #fff; /* Color del fondo del scrollbar */
}

.nameCustomer {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 25px 0 5px 0;
}

.numberTable {
  color: #E6E6E6;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}

.orden {
  color: #FFF;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px;
  text-align: initial;
  margin-left: 20px;
  margin-bottom: 1px;
  letter-spacing: 1.1px
}

.totalOrder {
  color: #FFF;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px;
  text-align: end;
  margin-right: 8px;
  letter-spacing: 1.1px;
}

hr {
  width: 257px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

.btnClear {
  border-radius: 16.136px;
  border: 2px solid #FFF;
  background: rgba(173, 89, 161, 0.00);
  color: #FFF;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 101px;
  height: 35px;
}

.btnSend {
  border-radius: 16.136px;
  border: 2px solid #FFF;
  background: #AD59A1;
  color: #FFF;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 101px;
  height: 35px;
}

.orderTable {
  color: #E6E6E6;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 15px;
}

.orderTable th, .orderTable td {
  padding: 5px;
  text-align: left;
}

.orderTable img {
  cursor: pointer;
}

.iconLess {
  margin-left: 25px;
  float: right; 
  width: 19.5px;
}

.iconPlus {
  float: right;
  width: 16px;
}

.quantityActions {
  display: flex;
  justify-content: end;
}
